<p id="notice"><%= notice %></p>
<% x= @veteran %>  
<table class="table table-striped">
      t.string   "name"
    t.string   "DOB"
    t.string   "race"
    t.string   "country"
    t.string   "state"
    t.string   "branch"
    t.string   "position"
    t.string   "place"
    t.string   "time"
    t.string   "occupation"
    t.string   "fatherdetails"
    t.string   "mothername"
    t.string   "motherdetails"
    t.string   "email"
    t.string   "images"
    t.string   "story"
    t.datetime "created_at",    null: false
    t.datetime "updated_at",    null: false
    t.string   "placeofduty"
    t.string   "startyear"
    t.string   "endyear"
                <tr>
                  <td>D.O.B.</td>
                  <td><%=x.DOB%></td>
                  <td>Race</td>
                  <td><%=x.race%></td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td><%=x.country%></td>
                  <td>State</td>
                  <td><%=x.state%></td>
                </tr>
                <tr>
                  <td>branch</td>
                  <td><%=x.branch%></td>
                  <td>position</td>
                  <td><%=x.position%></td>
                </tr> 
                <tr>
                  <td>Place</td>
                  <td><%=x.place%></td>
                  <td>time</td>
                  <td><%=x.time%></td>
                </tr>
                <tr>
                  <td>Occupation</td>
                  <td><%=x.occupation%></td>
                  <td>Email Address</td>
                  <td><%=x.email %></td>
                </tr>
                <tr>
                  <td>Father's details</td>
                  <td><%=x.fatherdetails%></td>
                  <td>Mother's name</td>
                  <td><%= x.mothername %></td>
                </tr>
                <tr>
                  <td>Story</td>
                  <td><%=x.story%></td>
                </tr>

</table>
<% if user_signed_in? %>
  <% if current_user.email == x.email %>
    <%= link_to 'Edit', edit_veteran_path(@veteran) %> |
  <% end %>
<% end %>
<%= link_to 'Back', veterans_path %>
