<p id="notice"><%= notice %></p>
<% x= @case %>  
<table class="table table-striped">
                <tr>
                  <td>D.O.B.</td>
                  <td><%=x.DOB%></td>
                  <td>Birthplace</td>
                  <td><%=x.birthplace%></td>
                </tr>
                <tr>
                  <td>Race</td>
                  <td><%=x.race%></td>
                  <td>Meeting place</td>
                  <td><%=x.place%></td>
                </tr>
                <tr>
                  <td>Mother's name</td>
                  <td><%=x.mothername%></td>
                  <td>Mother Details</td>
                  <td><%=x.motherdetails%></td>
                </tr> 
                <tr>
                  <td>Father Name</td>
                  <td><%=x.fathername%></td>
                  <td>State</td>
                  <td><%=x.state%></td>
                </tr>
                <tr>
                  <td>Position</td>
                  <td><%=x.position%></td>
                  <td>Branch of Duty</td>
                  <td><%=x.branch %></td>
                </tr>
                <tr>
                  <td>Place of Duty</td>
                  <td><%=x.placeofduty%></td>
                  <td>Time Of Service</td>
                  <td><%=x.time%></td>
                </tr>
                <tr>
                  <td>Occupation</td>
                  <td><%=x.occupation%></td>
                  <td>Email Address</td>
                  <td><%=x.email %></td>
                </tr>
                <tr>
                  <td>Father's details</td>
                  <td><%=x.fatherdetails%></td>
                </tr>
                <tr>
                  <td>Story</td>
                  <td><%=x.story%></td>
                </tr>

</table>
<% if user_signed_in? %>
  <% if current_user.email == x.email %>
    <%= link_to 'Edit', edit_case_path(@case) %> |
  <% end %>
<% end %>
<%= link_to 'Back', cases_path %>
