        <div class="container">

          <div class="row">
            <div class="col-md-12">

              <div class="featured-boxes">
                <div class="row">
                  <div class="col-sm-10">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                      <div class="box-content">
                        <h4 class="heading-primary text-uppercase mb-md">New Case Form</h4>
<%= form_for(@case) do |f| %>
  <% if @case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% @case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group">
      <div class="col-md-4">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="col-md-4">
        <label>Year born?</label>
        <%= select_year(@DOB, field_name: 'DOB',  start_year: 1920)%>
      </div>
      <div class="col-md-4">
        <label>Race</label>
        <%= f.select :race, options_for_select(races) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-4">
        <label> Mother's name? </label>
        <%= f.text_field :mothername %>
      </div>
      <div class="col-md-4">
        <label>Father's name?</label>
        <%= f.text_field :fathername %>
      </div>
      <div class="col-md-4">
        <label>Child's birthplace?</label>
        <%= f.text_field :birthplace %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-4">
        <label> State? </label>
        <%= f.select :state, options_for_select(us_states) %>
      </div>
      <div class="col-md-4">
        <label>Country?</label>
        <%= country_select("case", "country", include_blank: true, priority_countries: ["US"])%>
      </div>
      <div class="col-md-4">
        <label>Time of duty</label>
        <%= select_year(Date.today, field_name: 'timeOfDutyStart',  start_year: 1920)%>
        <%= select_year(Date.today, field_name: 'timeOfDutyEnd',  start_year: 1920)%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-4">
        <label> Military Branch </label>
        <%= f.select :branch, options_for_select(military) %>
      </div>
      <div class="col-md-4">
        <label>Occupation</label>
        <%= f.text_field :occupation %>
      </div>
      <div class="col-md-4">
        <label>Place of Duty</label>
        <%= f.text_field :placeofduty %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-4">
        <label> Is Case a Veteran?</label>
        <%= f.check_box :isveteran %>
      </div>
      <div class="col-md-4">
        <label>Image Upload</label>
        <%= f.file_field(:image_id) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-4">
        <label> Mother's details</label>
        <%= f.text_area :motherdetails %>
      </div>
      <div class="col-md-4">
        <label>Father's details</label>
        <%= f.text_area :fatherdetails %>
      </div>
      <div class="col-md-4">
        <div class="g-recaptcha" data-sitekey="6LfaoBkTAAAAAC3X-AoU-HSXlqZacUhxgpfzOIZ6"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span class="remember-box checkbox">
        <label for="rememberme">
          <input type="checkbox" id="rememberme" name="rememberme">Remember Me
        </label>
      </span>
    </div>
    <div class="col-md-6">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= hidden_field_tag 'email', current_user.email %>
  <% end %>
<% end %>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
