
<div id="filterrific_results">

  <div>
    <%= page_entries_info whats  %>
  </div>
    <% whats.each do |x| %>
          <li class="isotope-item websites">
            <div class="portfolio-item m-none">
              <a href=<%= person_path(x) %>>
                <span class="thumb-info thumb-info-centered-info thumb-info-no-borders m-none">
                  <span class="thumb-info-wrapper">
                    <%= cl_image_tag(x.images, :class => "img-responsive",:width => 100, :height => 150, :gravity=> :face, :crop=> :fill) %>

                    <span class="thumb-info-title">
                      <span class="thumb-info-inner"><%= x.name %></span>
                      <span class="thumb-info-type">Website</span>
                    </span>
                    <span class="thumb-info-action">
                      <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </li>
    <% end %>
  <%= will_paginate whats %>
</div>

