			<div role="main" class="main">
				<section class="page-header">
					<div class="container">
						<div class="row">
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Cases</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="sort-source-wrapper">
					<div class="container">
						<ul class="nav nav-pills sort-source secondary pull-right" data-sort-id="portfolio" data-option-key="filter">
							<li data-option-value=".brands"><a href="#"> <%= page_entries_info @cases %></a></li>
						</ul>
					</div>
				</div>
				<ul class="portfolio-list sort-destination full-width" data-sort-id="portfolio">
					<%= render(
					  partial: 'list',
					  locals: { whats: @cases }
					) %>
				</ul>

			</div>
				<section id="filtersection" class="section section-primary">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h4 class="mb-none">Filter Options</h4>
							<%= form_for_filterrific @filterrific do |f| %>
							  <div id="filterrificsearch">
							    Search by Name, Mother's Name, or Father's Name
							    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
							    <%= f.text_field(
							      :search_query,
							      class: 'filterrific-periodically-observed'
							    ) %>
							  </div>
							  <div>
							    Sorted by
							    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
							    <%= f.select(:with_state, @filterrific.select_options[:state]) %>
							    <%= f.select(:with_race, @filterrific.select_options[:race]) %>
							    <%= f.select :with_year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), :include_blank => true %>
							  </div>
							  <div>
							    <%= link_to(
							      'Reset filters',
							      reset_filterrific_url,
							    ) %>
							  </div>
							  <%# add an automated spinner to your form when the list is refreshed %>
							  <%= render_filterrific_spinner %>
							<% end %>							</div>
						</div>
					</div>
				</section>
			<section id="actionsection" class="call-to-action call-to-action-default with-button-arrow call-to-action-in-footer no-top-arrow">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action-content">
								<h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
								<p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
							</div>
							<div class="call-to-action-btn">
								<%= link_to 'Add a case', new_person_path,  class: 'btn btn-lg btn-primary' %>
								<span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -12px;"></span>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- Vendor -->
		<!--[if lt IE 9]>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->



