<p id="notice"><%= notice %></p>
<script src="holder.js"></script>
<% count = 5 %>
<h1>Listing Case(s)</h1>
    <% @cases.each do |x| %>
      <% count = count +1 %>
      <% if count == 6 %>
      <div class="row">
        <% count = 0 %>
      <% end %>
        <div class="col-sm-6 col-md-2">
          <div class="thumbnail" style="height:350px">
            <h3><%= x.name %></h3>

            <% if x.images != nil %>
              <img class="responsive" style="max-width:50%;max-height:300px;min-height:200px" src=<%=x.images%>>
            <% else %>
              <img src="holder.js/140x140">
            <% end %>
            <div class="caption">
              <p>
                <div class="btn-group" style="position:absolute;bottom:25px">
                <%= link_to 'Show', x,class: 'btn btn-default'  %> 

                <%= link_to 'Edit', edit_case_path(x), class: 'btn btn-default' %>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Details <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a>Date of Birth: <%=x.DOB %></a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>

                </div>
              </p>
            </div>
          </div>
        </div>
      <% if count == 5 %>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <% end %>
    <% end %>

<br>

<%= link_to 'New Case', new_case_path %>
