      <header id="header">
        <div class="container">
          <div class="logo">
            <a href="/">
              <%= image_tag("fromvietnam.png", alt:"Porto", width:"160", height:"120") %>
            </a>
          </div>
          <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
          <div class="container">
            <ul class="social-icons">
              <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
              <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
            </ul>
            <nav class="nav-main mega-menu">
              <ul class="nav nav-pills nav-main" id="mainMenu">
                <li class="dropdown">
                  <a class="dropdown-toggle" href="/">
                    Home
                  </a>
                </li>
                <li class="dropdown mega-menu-item mega-menu-fullwidth">
                  <% if user_signed_in? %>
                    <%= link_to 'Edit account', edit_user_registration_path %>
                  <% else %>
                    <%= link_to 'Sign in', new_user_session_path %>
                  <% end %>
                </li>
                <li class="dropdown">
                  <%= link_to 'Guestbook', guestbook_index_path %>
                </li>
                <li class="dropdown">
                  <%= link_to 'Cases', people_path %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
